# Build
target/
build/

# Node
node_modules/

# Env / secrets
.env
**/application-local.properties

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Misc
commands.txt
requests.http
HELP.md

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Allow nested targets/builds
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Java IDE junk
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/